*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Supermaples";
    src: url("font/SuperMaples-2vR2w.woff") format("truetype");
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    box-sizing: border-box;
    line-height: 1.6;
    overflow-y: hidden;
}

/* Navigation Bar */
nav {
    background-color:navy;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    color: navy(73, 105, 11);
}

nav .logo {
    font-family: "Supermaples", cursive;
    font-size: 24px;
    margin-left: 20px;
    color: navy(5, 79, 4);
    letter-spacing: 2px;
}
nav ul {
    list-style-type: none;
    display: flex; ;
    width: 40%;
    justify-content: space-around;
}

nav ul li a {
    text-decoration: none;
    color: rgb(28, 28, 64);
    font-weight: bold;
    font-size: 1.4rem;
    font-family: "Kutoen", sans-serif;
}

nav ul li a:hover {
    color: white;
    transition: 0.3s;
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 26px;
    height: 3px;
    background-color: rgb(23, 27, 67);
    margin: 3px 0;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* Hamburger Menu Animation */

.menu-toggle input:checked ~ span:nth-child(3) {
    width: 0;
    height: 0;
    margin: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid rgb(26, 23, 67);
    background-color: transparent;
}
/* End Of Navigations */

/* Responsive */

/* Tablet */
@media (max-width: 768px) {
    nav ul {
        width: 60%;
    }
}

/* Handphone */
@media (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        height: 50vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        z-index: -1;
        width: 100%;
        background-color: #382ea7;
        transform: translateY(-100%);
        transition: transform 0.7s ease-out;
    }
    nav ul.slide {
        transform: translateY(0);
        transition: transform 0.7s ease-in;
    }
    nav ul li a {
        font-size: 1.1rem;
        padding: 10px 0;
    }
    .menu-toggle:active span {
        transform: scale(0.9);
    }
    .menu-toggle input:checked ~ span:nth-child(4) {
        opacity: 0;
    }
}